@model MemoryGame.Models.Card

<div class="card" data-id="@Model.Id">
    <div class="card-back"></div>
    <div class="card-front">
        <img src="@Model.ImageUrl" alt="Memory Card" />
    </div>
</div>
