<!DOCTYPE html>
<html>
<head>
    <title>Memory Game - Select Level</title>
</head>
<body>
    <h1>Select Level</h1>
    <a href="@Url.Action("Play", "Game", new { level = 1 })">Easy</a>
    <a href="@Url.Action("Play", "Game", new { level = 2 })">Medium</a>
    <a href="@Url.Action("Play", "Game", new { level = 3 })">Hard</a>
</body>
</html>
