@model TipCalculator.Models.TipCalculatorModel

<h1>Tip Calculator Results</h1>

<p>Bill Amount: @Model.BillAmount</p>
<p>Tip Percentage: @Model.TipPercentage</p>
<p>Tip Amount: @Model.TipAmount</p>
<p>Total Amount: @Model.TotalAmount</p>

<a asp-action="Index">Back to Calculator</a>
